.about-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.div-color {
    width: 100%;
    height: 100%;
}

.div-color > p {
    opacity: 0;
}

.hidden {
    display: none;
}

div:not(.div-color){
    display: block;
    right: 0;
    top: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
}

tr > td {
    padding: 20px;
}
